<a href="https://colab.research.google.com/github/dpierso1/Pierson_IT533/blob/main/Week_11_Lab_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import tensorflow as tf # This tells Colab that we are using TensorFlow

from tensorflow import keras # This is the main TensorFlow library
from tensorflow.keras import layers # We are building a Neural Network with several hidden layers
from tensorflow.keras.layers.experimental import preprocessing
from keras.models import Sequential
from keras.layers import Dense

print("Current TensorFlow version is", tf.__version__)

import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns # for visualization
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings("ignore")
np.random.seed(42)  
airline = pd.read_csv("https://raw.githubusercontent.com/dpierso1/Pierson_IT533/main/airline_passenger_satisfaction.csv", encoding="ISO-8859-1") #USE YOUR OWN GITHUB FILE
airline.dropna(inplace=True)
airline.head(5)

Current TensorFlow version is 2.12.0

,ID,Gender,Age,CustomerType,TypeOfTravel,Class,FlightDistance,DepartureDelay,ArrivalDelay,EaseOfOnlineBooking,...,On-boardService,SeatComfort,LegRoom,Cleanliness,FoodAndDrink,In-flightWifi,In-flightEntertainment,BaggageHandling,PriceUSD,Satisfaction
0,1,Male,48,First-time,Business,Business,821,2,5.0,3,...,3,5,2,5,5,3,5,5,1053.59,Neutral or Dissatisfied
1,2,Female,35,Returning,Business,Business,821,26,39.0,2,...,5,4,5,5,3,2,5,5,1051.94,Satisfied
2,3,Male,41,Returning,Business,Business,853,0,0.0,4,...,3,5,3,5,5,4,3,3,1627.35,Satisfied
3,4,Male,50,Returning,Business,Business,1905,0,0.0,2,...,5,5,5,4,4,2,5,5,2520.45,Satisfied
4,5,Female,49,Returning,Business,Business,3470,0,1.0,3,...,3,4,4,5,4,3,3,3,6048.50,Satisfied

In [12]:
airline.dtypes

ID                          int64
Gender                     object
Age                         int64
CustomerType               object
TypeOfTravel               object
Class                      object
FlightDistance              int64
DepartureDelay              int64
ArrivalDelay              float64
EaseOfOnlineBooking         int64
Check-inService             int64
OnlineBoarding              int64
On-boardService             int64
SeatComfort                 int64
LegRoom                     int64
Cleanliness                 int64
FoodAndDrink                int64
In-flightWifi               int64
In-flightEntertainment      int64
BaggageHandling             int64
PriceUSD                  float64
Satisfaction               object
dtype: object

In [47]:
# Downsizing the Dataset to just the numeric attributes
airline_dl = pd.DataFrame(airline, columns = ['Age', 'FlightDistance', 'PriceUSD','On-boardService','Satisfaction'])

# Splitting into Training and Test Set
train_dataset = airline_dl.sample(frac=0.8, random_state=0)
test_dataset = airline_dl.drop(train_dataset.index)

# Splitting Features from Labels
train_features = train_dataset.copy()
test_features = test_dataset.copy()

train_labels = train_features.pop('Satisfaction')
test_labels = test_features.pop('Satisfaction')

In [48]:
train_labels.head() # Let's see what the training labels look like now

14146    Neutral or Dissatisfied
93318                  Satisfied
7092     Neutral or Dissatisfied
83100    Neutral or Dissatisfied
91486    Neutral or Dissatisfied
Name: Satisfaction, dtype: object

In [49]:
# Encoding the output variable with pd.get_dummies
train_labels1 = pd.get_dummies(train_labels, columns=['Satisfaction'], prefix='', prefix_sep='')

# Normalizing the input variables
normalizer = preprocessing.Normalization(axis=-1)
normalizer.adapt(np.array(train_features))

In [50]:
train_labels1.head() # Let's see what the training labels look like encoded

       Neutral or Dissatisfied  Satisfied
14146                        1          0
93318                        0          1
7092                         1          0
83100                        1          0
91486                        1          0

In [51]:
print(train_labels1)

        Neutral or Dissatisfied  Satisfied
14146                         1          0
93318                         0          1
7092                          1          0
83100                         1          0
91486                         1          0
...                         ...        ...
24632                         1          0
117336                        0          1
44290                         1          0
105544                        1          0
75431                         1          0

[100594 rows x 2 columns]

In [33]:
# define the Keras model
model = Sequential()
model.add(Dense(12, input_dim=4, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(6, activation='softmax'))
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 12)                60

 dense_13 (Dense)            (None, 8)                 104

 dense_14 (Dense)            (None, 6)                 54

=================================================================
Total params: 218
Trainable params: 218
Non-trainable params: 0
_________________________________________________________________

In [45]:
# compile the Keras model
model.compile(loss='crossentropy loss', optimizer='adam', metrics=['accuracy'])

In [46]:
# fit the Keras model on the dataset
model.fit(train_features, train_labels, epochs=32, batch_size=100)

Epoch 1/32

ValueError: ignored

In [32]:
# evaluate the keras model
accuracy = model.evaluate(test_features, test_labels)
print('Accuracy: %.2f' % (accuracy*100))

ValueError: ignored