<a href="https://colab.research.google.com/github/dpierso1/Pierson_IT533/blob/main/Week_9_Lab_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from scipy import spatial
import statsmodels.api as sm
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings("ignore")
np.random.seed(42)

In [ ]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from scipy import spatial
import statsmodels.api as sm

In [ ]:
# We import all the kNN libraries

import matplotlib.patches as mpatches
import matplotlib.pyplot as plt

from sklearn import neighbors, datasets
from sklearn.model_selection import cross_val_score, train_test_split
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings("ignore") 
np.random.seed(42)
# Data
airline = pd.read_csv("https://raw.githubusercontent.com/dpierso1/Pierson_IT533/main/airline_passenger_satisfaction.csv", encoding="ISO-8859-1") # USE YOUR OWN DATA ON GITHUB
airline.dropna(inplace=True)
airline.head(5)

,ID,Gender,Age,CustomerType,TypeOfTravel,Class,FlightDistance,DepartureDelay,ArrivalDelay,EaseOfOnlineBooking,...,On-boardService,SeatComfort,LegRoom,Cleanliness,FoodAndDrink,In-flightWifi,In-flightEntertainment,BaggageHandling,PriceUSD,Satisfaction
0,1,Male,48,First-time,Business,Business,821,2,5.0,3,...,3,5,2,5,5,3,5,5,1053.59,Neutral or Dissatisfied
1,2,Female,35,Returning,Business,Business,821,26,39.0,2,...,5,4,5,5,3,2,5,5,1051.94,Satisfied
2,3,Male,41,Returning,Business,Business,853,0,0.0,4,...,3,5,3,5,5,4,3,3,1627.35,Satisfied
3,4,Male,50,Returning,Business,Business,1905,0,0.0,2,...,5,5,5,4,4,2,5,5,2520.45,Satisfied
4,5,Female,49,Returning,Business,Business,3470,0,1.0,3,...,3,4,4,5,4,3,3,3,6048.50,Satisfied

In [ ]:
airline_nn = pd.DataFrame(airline, columns = ["Age", 'ID', 'FlightDistance', 'PriceUSD', 'Class'])
airline_nn.head()

   Age  ID  FlightDistance  PriceUSD     Class
0   48   1             821   1053.59  Business
1   35   2             821   1051.94  Business
2   41   3             853   1627.35  Business
3   50   4            1905   2520.45  Business
4   49   5            3470   6048.50  Business

In [ ]:
# Replace Business with 0, First Class with 1, Economy with 2
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
airline_nn["Class"] = labelencoder.fit_transform(airline_nn["Class"])
region = pd.DataFrame({'Class': ['Business', 'Economy', 'First Class']})
airline_nn.head()

   Age  ID  FlightDistance  PriceUSD  Class
0   48   1             821   1053.59      0
1   35   2             821   1051.94      0
2   41   3             853   1627.35      0
3   50   4            1905   2520.45      0
4   49   5            3470   6048.50      0

In [ ]:
def create_dummies(df,column_name):
    dummies = pd.get_dummies(df[column_name],prefix=column_name)
    df = pd.concat([df,dummies],axis=1)
    return df
airline_nn = create_dummies(airline_nn,"Class")

airline_nn.head()

   Age  ID  FlightDistance  PriceUSD  Class  Class_0  Class_1  Class_2
0   48   1             821   1053.59      0        1        0        0
1   35   2             821   1051.94      0        1        0        0
2   41   3             853   1627.35      0        1        0        0
3   50   4            1905   2520.45      0        1        0        0
4   49   5            3470   6048.50      0        1        0        0

In [ ]:
# Features before mean normalization
unscaled_features = airline_nn[['Age','ID','FlightDistance','PriceUSD']]

# Mean Normalization to have a faster classifier 
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

# Calculate μ & σ(fit) and apply the transformation(transform)
unscaled_features_array = sc.fit_transform(unscaled_features.values)

# Assign the scaled data to a DataFrame & use the index and columns arguments to keep your original indices and column names:
scaled_features = pd.DataFrame(unscaled_features_array, index=unscaled_features.index, columns=unscaled_features.columns)

scaled_features.head()

        Age        ID  FlightDistance  PriceUSD
0  0.567460 -1.732671       -0.361689 -0.396247
1 -0.292821 -1.732643       -0.361689 -0.397299
2  0.104232 -1.732616       -0.329591 -0.030385
3  0.699811 -1.732588        0.725643  0.539106
4  0.633636 -1.732561        2.295454  2.788790

In [ ]:
from sklearn.model_selection import train_test_split
X = scaled_features
y = airline_nn['Class']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33)

125743

In [ ]:
from sklearn.neural_network import MLPClassifier

# Initializing the multilayer perceptron
# running this with all the default settings, including a hidden_layer_sizes setting of 100 adn 200 maximum iterations. 
# Verbose is on so we can see how this runs.

mlp1 = MLPClassifier(verbose=1) # We are running this in verbose mode so we can see the output of each iteration.

In [ ]:
# As this runs in verbose mode, note how the loss function steps down with every single iteration!

mlp1.fit(X_train, y_train)

Iteration 1, loss = 0.74250512
Iteration 2, loss = 0.69913148
Iteration 3, loss = 0.68889314
Iteration 4, loss = 0.68235798
Iteration 5, loss = 0.67788321
Iteration 6, loss = 0.67443089
Iteration 7, loss = 0.67153772
Iteration 8, loss = 0.66901549
Iteration 9, loss = 0.66620450
Iteration 10, loss = 0.66385249
Iteration 11, loss = 0.66115406
Iteration 12, loss = 0.65825854
Iteration 13, loss = 0.65522147
Iteration 14, loss = 0.65170126
Iteration 15, loss = 0.64858394
Iteration 16, loss = 0.64594299
Iteration 17, loss = 0.64313008
Iteration 18, loss = 0.64029913
Iteration 19, loss = 0.63756095
Iteration 20, loss = 0.63522194
Iteration 21, loss = 0.63306333
Iteration 22, loss = 0.63096724
Iteration 23, loss = 0.62879640
Iteration 24, loss = 0.62729298
Iteration 25, loss = 0.62530938
Iteration 26, loss = 0.62394733
Iteration 27, loss = 0.62225525
Iteration 28, loss = 0.62097506
Iteration 29, loss = 0.61946904
Iteration 30, loss = 0.61806303
Iteration 31, loss = 0.61733224
Iteration 32, loss = 0.61643012
Iteration 33, loss = 0.61492850
Iteration 34, loss = 0.61388340
Iteration 35, loss = 0.61297929
Iteration 36, loss = 0.61212933
Iteration 37, loss = 0.61137732
Iteration 38, loss = 0.61085197
Iteration 39, loss = 0.60986690
Iteration 40, loss = 0.60912873
Iteration 41, loss = 0.60868924
Iteration 42, loss = 0.60787266
Iteration 43, loss = 0.60756919
Iteration 44, loss = 0.60681380
Iteration 45, loss = 0.60664918
Iteration 46, loss = 0.60601126
Iteration 47, loss = 0.60576707
Iteration 48, loss = 0.60518966
Iteration 49, loss = 0.60476261
Iteration 50, loss = 0.60442632
Iteration 51, loss = 0.60416666
Iteration 52, loss = 0.60411127
Iteration 53, loss = 0.60331437
Iteration 54, loss = 0.60317059
Iteration 55, loss = 0.60261039
Iteration 56, loss = 0.60244357
Iteration 57, loss = 0.60207494
Iteration 58, loss = 0.60177489
Iteration 59, loss = 0.60116733
Iteration 60, loss = 0.60132608
Iteration 61, loss = 0.60072023
Iteration 62, loss = 0.60081833
Iteration 63, loss = 0.60010823
Iteration 64, loss = 0.60007142
Iteration 65, loss = 0.59990366
Iteration 66, loss = 0.59946181
Iteration 67, loss = 0.59908557
Iteration 68, loss = 0.59907222
Iteration 69, loss = 0.59890306
Iteration 70, loss = 0.59868122
Iteration 71, loss = 0.59874832
Iteration 72, loss = 0.59846857
Iteration 73, loss = 0.59820057
Iteration 74, loss = 0.59811219
Iteration 75, loss = 0.59769524
Iteration 76, loss = 0.59740839
Iteration 77, loss = 0.59742625
Iteration 78, loss = 0.59719611
Iteration 79, loss = 0.59708291
Iteration 80, loss = 0.59755714
Iteration 81, loss = 0.59728151
Iteration 82, loss = 0.59670125
Iteration 83, loss = 0.59649545
Iteration 84, loss = 0.59631818
Iteration 85, loss = 0.59653793
Iteration 86, loss = 0.59638993
Iteration 87, loss = 0.59640216
Iteration 88, loss = 0.59623842
Iteration 89, loss = 0.59607301
Iteration 90, loss = 0.59585201
Iteration 91, loss = 0.59562391
Iteration 92, loss = 0.59542640
Iteration 93, loss = 0.59582404
Iteration 94, loss = 0.59559650
Iteration 95, loss = 0.59551710
Iteration 96, loss = 0.59546879
Iteration 97, loss = 0.59521836
Iteration 98, loss = 0.59523372
Iteration 99, loss = 0.59529900
Iteration 100, loss = 0.59477479
Iteration 101, loss = 0.59483706
Iteration 102, loss = 0.59512185
Iteration 103, loss = 0.59476858
Iteration 104, loss = 0.59500769
Iteration 105, loss = 0.59451501
Iteration 106, loss = 0.59492594
Iteration 107, loss = 0.59465191
Iteration 108, loss = 0.59478952
Iteration 109, loss = 0.59451519
Iteration 110, loss = 0.59454545
Iteration 111, loss = 0.59440468
Iteration 112, loss = 0.59440236
Iteration 113, loss = 0.59480118
Iteration 114, loss = 0.59433459
Iteration 115, loss = 0.59408312
Iteration 116, loss = 0.59392696
Iteration 117, loss = 0.59412774
Iteration 118, loss = 0.59411159
Iteration 119, loss = 0.59417755
Iteration 120, loss = 0.59412724
Iteration 121, loss = 0.59395652
Iteration 122, loss = 0.59383117
Iteration 123, loss = 0.59361547
Iteration 124, loss = 0.59406745
Iteration 125, loss = 0.59393931
Iteration 126, loss = 0.59391023
Iteration 127, loss = 0.59388972
Iteration 128, loss = 0.59404916
Iteration 129, loss = 0.59341401
Iteration 130, loss = 0.59377110
Iteration 131, loss = 0.59380831
Iteration 132, loss = 0.59358385
Iteration 133, loss = 0.59349886
Iteration 134, loss = 0.59351241
Iteration 135, loss = 0.59356552
Iteration 136, loss = 0.59363771
Iteration 137, loss = 0.59342305
Iteration 138, loss = 0.59295638
Iteration 139, loss = 0.59311743
Iteration 140, loss = 0.59353010
Iteration 141, loss = 0.59349245
Iteration 142, loss = 0.59322826
Iteration 143, loss = 0.59308382
Iteration 144, loss = 0.59329182
Iteration 145, loss = 0.59336778
Iteration 146, loss = 0.59349018
Iteration 147, loss = 0.59308586
Iteration 148, loss = 0.59312819
Iteration 149, loss = 0.59318712
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(verbose=1)

In [ ]:
# Score takes a feature matrix X_test and the expected target values y_test. 
# Predictions for X_test are compared with y_test

print (mlp1.score(X_test,y_test))

0.7356612685560054

In [ ]:
!pip install matplotlib-venn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib-venn in /usr/local/lib/python3.9/dist-packages (0.11.9)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.9/dist-packages (from matplotlib-venn) (3.7.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.9/dist-packages (from matplotlib-venn) (1.10.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from matplotlib-venn) (1.22.4)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->matplotlib-venn) (4.39.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->matplotlib-venn) (23.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->matplotlib-venn) (1.0.7)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.9/dist-packages (from matplotlib->matplotlib-venn) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->matplotlib-venn) (5.12.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->matplotlib-venn) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib->matplotlib-venn) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->matplotlib-venn) (8.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->matplotlib-venn) (1.4.4)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.9/dist-packages (from importlib-resources>=3.2.0->matplotlib->matplotlib-venn) (3.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.7->matplotlib->matplotlib-venn) (1.16.0)

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay

In [ ]:
# Now, let's see what the predictions look like
y_pred = mlp1.predict(X_test)
print("Test set predictions: \n {}".format(y_pred))

Test set predictions:
 [1 1 0 ... 0 1 1]

In [ ]:
from sklearn import metrics
from sklearn.metrics import classification_report
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.78      0.78      0.78     20307
           1       0.69      0.80      0.74     19307
           2       0.00      0.00      0.00      3139

    accuracy                           0.73     42753
   macro avg       0.49      0.53      0.51     42753
weighted avg       0.68      0.73      0.71     42753

In [ ]:
mlp1 = MLPClassifier(hidden_layer_sizes=10,solver='sgd',learning_rate_init= 0.01, max_iter=500, verbose = 1)

In [ ]:
airline_nn.shape[0]

125743