<a href="https://colab.research.google.com/github/dpierso1/Pierson_IT533/blob/main/Week_2_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [4]:
airline = pd.read_csv("https://raw.githubusercontent.com/dpierso1/Pierson_IT533/main/airline_passenger_satisfaction.csv", encoding="ISO-8859-1")

In [6]:
airline
# airline.head(5)

,ID,Gender,Age,CustomerType,TypeOfTravel,Class,FlightDistance,DepartureDelay,ArrivalDelay,EaseOfOnlineBooking,...,On-boardService,SeatComfort,LegRoom,Cleanliness,FoodAndDrink,In-flightWifi,In-flightEntertainment,BaggageHandling,PriceUSD,Satisfaction
0,1,Male,48,First-time,Business,Business,821,2,5.0,3,...,3,5,2,5,5,3,5,5,1053.59,Neutral or Dissatisfied
1,2,Female,35,Returning,Business,Business,821,26,39.0,2,...,5,4,5,5,3,2,5,5,1051.94,Satisfied
2,3,Male,41,Returning,Business,Business,853,0,0.0,4,...,3,5,3,5,5,4,3,3,1627.35,Satisfied
3,4,Male,50,Returning,Business,Business,1905,0,0.0,2,...,5,5,5,4,4,2,5,5,2520.45,Satisfied
4,5,Female,49,Returning,Business,Business,3470,0,1.0,3,...,3,4,4,5,4,3,3,3,6048.50,Satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126121,126122,Female,43,Returning,Business,Business,468,0,10.0,4,...,2,2,2,4,3,2,2,2,499.34,Neutral or Dissatisfied
126122,126123,Male,22,First-time,Business,Business,507,9,3.0,0,...,4,3,2,3,3,0,3,5,525.21,Satisfied
126123,126124,Male,39,Returning,Business,Business,468,7,5.0,3,...,3,4,3,3,4,3,3,3,678.19,Satisfied
126124,126125,Male,57,Returning,Business,Business,631,0,0.0,5,...,2,4,2,4,5,1,2,2,1032.29,Satisfied
126125,126126,Male,66,Returning,Business,Business,1654,10,5.0,5,...,3,4,2,3,2,3,3,3,2048.40,Neutral or Dissatisfied

In [7]:
airline.select_dtypes('O')

        Gender CustomerType TypeOfTravel     Class             Satisfaction
0         Male   First-time     Business  Business  Neutral or Dissatisfied
1       Female    Returning     Business  Business                Satisfied
2         Male    Returning     Business  Business                Satisfied
3         Male    Returning     Business  Business                Satisfied
4       Female    Returning     Business  Business                Satisfied
...        ...          ...          ...       ...                      ...
126121  Female    Returning     Business  Business  Neutral or Dissatisfied
126122    Male   First-time     Business  Business                Satisfied
126123    Male    Returning     Business  Business                Satisfied
126124    Male    Returning     Business  Business                Satisfied
126125    Male    Returning     Business  Business  Neutral or Dissatisfied

[126126 rows x 5 columns]

In [8]:
airline.dropna(inplace = True)

In [13]:
airline.describe(include='all')

,ID,Gender,Age,CustomerType,TypeOfTravel,Class,FlightDistance,DepartureDelay,ArrivalDelay,EaseOfOnlineBooking,...,On-boardService,SeatComfort,LegRoom,Cleanliness,FoodAndDrink,In-flightWifi,In-flightEntertainment,BaggageHandling,PriceUSD,Satisfaction
count,125743.000000,125743,125743.000000,125743,125743,125743,125743.000000,125743.000000,125743.000000,125743.000000,...,125743.000000,125743.000000,125743.000000,125743.000000,125743.000000,125743.000000,125743.000000,125743.000000,125743.000000,125743
unique,NaN,2,NaN,2,2,3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,Female,NaN,Returning,Business,Business,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Neutral or Dissatisfied
freq,NaN,63830,NaN,102734,86900,59981,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71157
mean,63081.219392,NaN,39.424922,NaN,NaN,NaN,1181.580732,14.806733,15.251577,2.756312,...,3.382176,3.440621,3.349165,3.285829,3.204624,2.729615,3.358382,3.629808,1675.000708,NaN
std,36406.499339,NaN,15.111393,NaN,NaN,NaN,996.939176,38.187053,38.725086,1.402737,...,1.287318,1.319336,1.316876,1.313929,1.330496,1.329752,1.334194,1.181454,1568.248827,NaN
min,1.000000,NaN,7.000000,NaN,NaN,NaN,31.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,30.990000,NaN
25%,31556.500000,NaN,27.000000,NaN,NaN,NaN,409.000000,0.000000,0.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,529.260000,NaN
50%,63094.000000,NaN,40.000000,NaN,NaN,NaN,835.000000,0.000000,0.000000,3.000000,...,4.000000,4.000000,4.000000,3.000000,3.000000,3.000000,4.000000,4.000000,1055.660000,NaN
75%,94599.500000,NaN,51.000000,NaN,NaN,NaN,1723.000000,12.000000,13.000000,4.000000,...,4.000000,5.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,2393.865000,NaN
max,126126.000000,NaN,85.000000,NaN,NaN,NaN,4983.000000,1592.000000,1584.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,9924.120000,NaN

In [29]:
airline.describe(include=['O'])

        Gender CustomerType TypeOfTravel     Class             Satisfaction
count   125743       125743       125743    125743                   125743
unique       2            2            2         3                        2
top     Female    Returning     Business  Business  Neutral or Dissatisfied
freq     63830       102734        86900     59981                    71157

In [16]:
airline.select_dtypes('float64')

        ArrivalDelay  PriceUSD
0                5.0   1053.59
1               39.0   1051.94
2                0.0   1627.35
3                0.0   2520.45
4                1.0   6048.50
...              ...       ...
126121          10.0    499.34
126122           3.0    525.21
126123           5.0    678.19
126124           0.0   1032.29
126125           5.0   2048.40

[125743 rows x 2 columns]

In [17]:
airline.describe()

,ID,Age,FlightDistance,DepartureDelay,ArrivalDelay,EaseOfOnlineBooking,Check-inService,OnlineBoarding,On-boardService,SeatComfort,LegRoom,Cleanliness,FoodAndDrink,In-flightWifi,In-flightEntertainment,BaggageHandling,PriceUSD
count,125743.000000,125743.000000,125743.000000,125743.000000,125743.000000,125743.000000,125743.000000,125743.000000,125743.000000,125743.000000,125743.000000,125743.000000,125743.000000,125743.000000,125743.000000,125743.000000,125743.000000
mean,63081.219392,39.424922,1181.580732,14.806733,15.251577,2.756312,3.304677,3.250614,3.382176,3.440621,3.349165,3.285829,3.204624,2.729615,3.358382,3.629808,1675.000708
std,36406.499339,15.111393,996.939176,38.187053,38.725086,1.402737,1.267315,1.351344,1.287318,1.319336,1.316876,1.313929,1.330496,1.329752,1.334194,1.181454,1568.248827
min,1.000000,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,30.990000
25%,31556.500000,27.000000,409.000000,0.000000,0.000000,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,529.260000
50%,63094.000000,40.000000,835.000000,0.000000,0.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,3.000000,3.000000,3.000000,4.000000,4.000000,1055.660000
75%,94599.500000,51.000000,1723.000000,12.000000,13.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,2393.865000
max,126126.000000,85.000000,4983.000000,1592.000000,1584.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,9924.120000

In [20]:
airline.max()

ID                              126126
Gender                            Male
Age                                 85
CustomerType                 Returning
TypeOfTravel                  Personal
Class                     Economy Plus
FlightDistance                    4983
DepartureDelay                    1592
ArrivalDelay                    1584.0
EaseOfOnlineBooking                  5
Check-inService                      5
OnlineBoarding                       5
On-boardService                      5
SeatComfort                          5
LegRoom                              5
Cleanliness                          5
FoodAndDrink                         5
In-flightWifi                        5
In-flightEntertainment               5
BaggageHandling                      5
PriceUSD                       9924.12
Satisfaction                 Satisfied
dtype: object

In [25]:
airline.select_dtypes('int')

,ID,Age,FlightDistance,DepartureDelay,EaseOfOnlineBooking,Check-inService,OnlineBoarding,On-boardService,SeatComfort,LegRoom,Cleanliness,FoodAndDrink,In-flightWifi,In-flightEntertainment,BaggageHandling
0,1,48,821,2,3,4,3,3,5,2,5,5,3,5,5
1,2,35,821,26,2,3,5,5,4,5,5,3,2,5,5
2,3,41,853,0,4,4,5,3,5,3,5,5,4,3,3
3,4,50,1905,0,2,3,4,5,5,5,4,4,2,5,5
4,5,49,3470,0,3,3,5,3,4,4,5,4,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126121,126122,43,468,0,4,1,3,2,2,2,4,3,2,2,2
126122,126123,22,507,9,0,4,0,4,3,2,3,3,0,3,5
126123,126124,39,468,7,3,5,5,3,4,3,3,4,3,3,3
126124,126125,57,631,0,5,5,5,2,4,2,4,5,1,2,2
126125,126126,66,1654,10,5,2,4,3,4,2,3,2,3,3,3

In [26]:
airline.FlightDistance.std()

996.939175748859

In [27]:
airline.select_dtypes('O')

        Gender CustomerType TypeOfTravel     Class             Satisfaction
0         Male   First-time     Business  Business  Neutral or Dissatisfied
1       Female    Returning     Business  Business                Satisfied
2         Male    Returning     Business  Business                Satisfied
3         Male    Returning     Business  Business                Satisfied
4       Female    Returning     Business  Business                Satisfied
...        ...          ...          ...       ...                      ...
126121  Female    Returning     Business  Business  Neutral or Dissatisfied
126122    Male   First-time     Business  Business                Satisfied
126123    Male    Returning     Business  Business                Satisfied
126124    Male    Returning     Business  Business                Satisfied
126125    Male    Returning     Business  Business  Neutral or Dissatisfied

[125743 rows x 5 columns]

In [33]:
airline.groupby(['Satisfaction'])

In [32]:

airline.groupby(['LegRoom'])

In [35]:
airline.groupby(['Satisfaction', 'LegRoom']).median()

                                      ID   Age  FlightDistance  \
Satisfaction            LegRoom
Neutral or Dissatisfied 0        50758.0  53.0           250.0
                        1        59058.0  38.0           671.0
                        2        63893.0  39.0           687.0
                        3        62013.5  39.0           683.0
                        4        63010.5  35.0           669.0
                        5        62608.0  30.0           628.0
Satisfied               0        62563.0  54.5           505.0
                        1        38147.0  33.0           680.0
                        2        60440.0  34.0           936.0
                        3        60088.0  34.0           982.0
                        4        68337.5  45.0          1518.0
                        5        66985.0  45.0          1521.0

                                 DepartureDelay  ArrivalDelay  \
Satisfaction            LegRoom
Neutral or Dissatisfied 0                   0.0           0.0
                        1                   0.0           0.0
                        2                   0.0           0.0
                        3                   0.0           0.0
                        4                   0.0           0.0
                        5                   0.0           0.0
Satisfied               0                   0.0           0.0
                        1                   0.0           0.0
                        2                   0.0           0.0
                        3                   0.0           0.0
                        4                   0.0           0.0
                        5                   0.0           0.0

                                 EaseOfOnlineBooking  Check-inService  \
Satisfaction            LegRoom
Neutral or Dissatisfied 0                        0.0              3.0
                        1                        2.0              3.0
                        2                        2.0              3.0
                        3                        3.0              3.0
                        4                        3.0              3.0
                        5                        2.0              3.0
Satisfied               0                        0.0              3.0
                        1                        3.0              3.0
                        2                        3.0              4.0
                        3                        3.0              4.0
                        4                        3.0              4.0
                        5                        3.0              4.0

                                 OnlineBoarding  On-boardService  SeatComfort  \
Satisfaction            LegRoom
Neutral or Dissatisfied 0                   4.0              3.0          4.0
                        1                   3.0              2.0          3.0
                        2                   3.0              3.0          3.0
                        3                   3.0              3.0          3.0
                        4                   3.0              3.0          3.0
                        5                   2.0              3.0          3.0
Satisfied               0                   4.0              3.0          4.0
                        1                   4.0              3.0          4.0
                        2                   4.0              3.0          4.0
                        3                   4.0              3.0          4.0
                        4                   4.0              4.0          4.0
                        5                   4.0              5.0          4.0

                                 Cleanliness  FoodAndDrink  In-flightWifi  \
Satisfaction            LegRoom
Neutral or Dissatisfied 0                3.0           3.0            1.0
                        1                3.0           3.0            2.0
                        2                3.0           3.0            2.0
                        3                3.0           3.0            3.0
                        4                3.0           3.0            3.0
                        5                3.0           3.0            2.0
Satisfied               0                4.0           3.0            0.0
                        1                4.0           4.0            4.0
                        2                4.0           4.0            4.0
                        3                4.0           4.0            4.0
                        4                4.0           4.0            3.0
                        5                4.0           4.0            3.0

                                 In-flightEntertainment  BaggageHandling  \
Satisfaction            LegRoom
Neutral or Dissatisfied 0                           3.0              3.0
                        1                           2.0              3.0
                        2                           3.0              3.0
                        3                           3.0              3.0
                        4                           3.0              4.0
                        5                           3.0              4.0
Satisfied               0                           3.0              3.0
                        1                           4.0              3.0
                        2                           3.0              3.0
                        3                           3.0              4.0
                        4                           4.0              4.0
                        5                           5.0              5.0

                                 PriceUSD
Satisfaction            LegRoom
Neutral or Dissatisfied 0         343.790
                        1         844.450
                        2         871.120
                        3         865.380
                        4         842.175
                        5         791.500
Satisfied               0         650.545
                        1         868.915
                        2        1251.920
                        3        1359.530
                        4        2079.545
                        5        2060.065

In [44]:
airline.iloc[1]

ID                                2
Gender                       Female
Age                              35
CustomerType              Returning
TypeOfTravel               Business
Class                      Business
FlightDistance                  821
DepartureDelay                   26
ArrivalDelay                   39.0
EaseOfOnlineBooking               2
Check-inService                   3
OnlineBoarding                    5
On-boardService                   5
SeatComfort                       4
LegRoom                           5
Cleanliness                       5
FoodAndDrink                      3
In-flightWifi                     2
In-flightEntertainment            5
BaggageHandling                   5
PriceUSD                    1051.94
Satisfaction              Satisfied
Name: 1, dtype: object